@using DataAccess.Models
@model List<Product>  

@{
    ViewData["Title"] = "Home Page";
}

<!-- Header -->
<header class="myHeader">
    <div class="headerItems">
        <h1>آشپزخانه صنعتی‌ات رو حرفه‌ای‌تر بساز</h1>
        <p>
            ما اینجاییم تا با بهترین تجهیزات آشپزخانه صنعتی، کارتو راحت‌تر و لذت‌بخش‌تر کنیم.
            از جوجه‌گردان و فر گرفته تا انواع دستگاه‌های پخت و پز، همه چیز آماده‌ست تا کسب‌وکارت
            رو سریع‌تر، مطمئن‌تر و جذاب‌تر پیش ببری.

            با ما خیالت از کیفیت و خدمات راحت باشه!
        </p>
    </div>

    <div class="headerItems">
        <img class="headerImage" src="~/asstes/img/ChatGPT Image Oct 12, 2025, 09_56_41 PM.png" alt="آشپزخانه صنعتی">
    </div>
</header>

<!-- products -->
<div class="productsContainer">

    @foreach (var item in Model)
    {
        <div class="productsItems">
            <img src="api/FileUpload/GetFile?filename=@item.ImageUrl" width="200px" alt="Alternate Text" />
            <div class="productsInfo">
                <h3>@item.ProductName</h3>
                <p>@item.Price تومان</p>
                <p>@item.ProductDescription</p>
                <a href="Product.html" class="btnProduct">افزودن به سبد خرید</a>
            </div>
        </div>
    }
    
</div>