@model Ghafar_Tajhiz.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}


<div class="register-container">
    <div class="register-card">

        <div class="register-header">
            <h3>ورود به حساب</h3>
        </div>

        <div class="register-body">

            <form asp-action="Login" method="post">
                @Html.AntiForgeryToken()


                <!-- Phone -->
                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label">
                        شماره موبایل
                    </label>
                    <input asp-for="PhoneNumber"
                           class="form-control"
                           placeholder="09xxxxxxxxx"
                           dir="ltr" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">
                        رمز عبور
                    </label>
                    <div class="password-wrapper">
                        <input asp-for="Password"
                               class="form-control"
                               type="password"
                               id="passwordInput" />
                        <button type="button" class="toggle-password" id="togglePassword"></button>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <!-- RememberMe -->
                <div class="mb-3">
                    <label asp-for="RememberMe" class="form-label">
                        من را به یاد داشته باش
                        <input asp-for="RememberMe"
                               class="terms"
                               type="checkbox" />
                        <span asp-validation-for="RememberMe" class="text-danger"></span>
                    </label>
                    
                    
                </div>

                <!-- Terms -->
                

                <button type="submit" class="btn-register">
                    ورود
                </button>

                <div class="login-link">
                    ایجاد حساب کاربری
                    <a asp-action="Register" asp-controller="Account">جدید</a>
                </div>
            </form>
        </div>
    </div>

    <div id="loginError"
     data-error="@TempData["LoginError"]">
    </div>

</div>

<!-- Modal قوانین -->
<div class="modal fade" id="termsModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">قوانین و مقررات</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>شرایط و قوانین استفاده از سامانه قهار تجهیز...</p>
            </div>
        </div>
    </div>
</div>




