@using DataAccess.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> _signInManager;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ghafar_Tajhiz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ghafar_Tajhiz.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
</head>
<body>

    <!-- Navbar -->
    <nav class="nav">
        <div class="mobilenavbar hidden">
            <a><i id="mobileNavbarBtn" class="fa fa-bars" aria-hidden="true"></i></a>
            <a>Tajhizat-Tajik-Logo</a>
            @if (_signInManager.IsSignedIn(User))
            {
                <a class="login-btn" asp-controller="Account" asp-action="Profile">پروفایل</a> <!-- دکمه ورود برای موبایل -->
                <a class="login-btn" asp-controller="Account" asp-action="Logout">خروج از حساب</a>
            }
            else
            {
                <a class="login-btn" asp-controller="Account" asp-action="Login">ورود/ثبت نام</a> <!-- دکمه ورود برای موبایل -->
            }
        </div>

        <div class="desktopnavbar" id="desktopnavbar">
            <a asp-controller="Home" asp-action="Index">صفحه اصلی</a>
            <a asp-controller="Product" asp-action="ProductList">محصولات</a>
            <a>ارتباط با ما</a>
            <a asp-controller="Home" asp-action="aboutUs">درباره ما</a>

            @if(_signInManager.IsSignedIn(User))
            {
                <a class="login-btn" asp-controller="Account" asp-action="Profile">پروفایل</a> <!-- دکمه ورود برای دسکتاپ -->
                <a class="login-btn" asp-controller="Account" asp-action="Logout">خروج از حساب</a> 
            }
            else
            {
                <a class="login-btn"  asp-controller="Account" asp-action="Register">ورود/ثبت نام</a> <!-- دکمه ورود برای دسکتاپ -->
            }

            <a asp-controller="Order" asp-action="Basket">سبد خرید</a>
            <a >Tajhizat-Tajik-Logo</a>
        </div>
    </nav>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">

            <div class="footer-section about">
                <h3>درباره ما</h3>
                <p>
                    ما یک شرکت فناوری پیشرو هستیم که در زمینه طراحی و توسعه سامانه‌های وب و راهکارهای ابری فعالیت می‌کنیم. هدف ما توانمندسازی کسب‌وکارها با استفاده از فناوری‌های نوین است.
                </p>
            </div>

            <div class="footer-section links">
                <h3>لینک‌های مهم</h3>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">صفحه اصلی</a></li>
                    <li><a href="#">خدمات</a></li>
                    <li><a href="#">مقالات</a></li>
                    <li><a href="#">تماس با ما</a></li>
                </ul>
            </div>

            <div class="footer-section social">
                <h3>ما را دنبال کنید</h3>
                <div class="social-icons">
                    <a><img src="~/asstes/icon/icons8-facebook.svg" alt=""></a>
                    <a><img src="~/asstes/icon/icons8-whatsapp.svg" alt=""></a>
                    <a><img src="~/asstes/icon/icons8-instagram.svg" alt=""></a>
                </div>
            </div>

        </div>

        <div class="footer-bottom">
            <p>© ۱۴۰۴ شرکت شما. تمامی حقوق محفوظ است.</p>
        </div>
    </footer>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="closeModal" class="close">&times;</span>

            <div id="modalBody">

            </div>
        </div>
    </div>

    <script src="~/js/script.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

